# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
.vscode/
*.iml

# Android generated/local
android/.gradle/
android/local.properties
**/key.properties
*.jks
*.keystore

# iOS generated/local
ios/Pods/
ios/.symlinks/
DerivedData/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
